body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    line-height: 1.5;
}
.receive-payment-container{
    position: relative;
    width: 45%;
    height: auto;
    border: 2px solid rgb(3, 139, 165);
    border-radius: 20px;
    padding: 2% 0%;
}

.modal-box-content-container{
    width: 85%;
    margin: auto;
}
.icon-container{
    display: flex;
    justify-content: center;
}
.icon-container img{
    position: relative;
    width: 40%;
    height: auto;
    margin: auto;

}
.wording-container{
    text-align: center;
}
.done-btn-conatiner{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 650px) {
    .receive-payment-container{
        width: 80%;
    }
}
